/* :root{
    --button-color:(##7ed4d1);
}
.buttoncontainer>.orderbutton{
background-color: var(--button-color)
}
@media screen and (min-width:0px) and (max-width:480px) {
    .nav-item,
    .icon>.fa-brands,
    .buttoncontainer>.btn
    {
        display: none;
    
    }
    .navbar-brand>img{
        width: 100px;
        height: 100px;
    }
    .container>i{
        font-size: 30px;
    }
}
@media screen and (min-width:481px) and (max-width:1400px) {
    .container i{
        display: none;
    }
    .navbar .container{
        display: flex;
        flex-wrap: nowrap !important;
        margin: 0;
    }
} */
.carousel-caption>.button{  
     border: none;
    background-color: transparent;
    width: 150px;
    height: 45px;
    border-radius: 30px;
    background-color: #7ed4d1;
    color: white;
    font-size: x-large;
    margin-top:70px ;
    justify-content: right;
    margin-left: 50px; 
text-align: center; }


.bg-image>.size{
    font-size: 80px;
}
.magic{
    background-color: #7ed4d1;
}
/* .bg-image{
    background-image: url(images/bakery20-1200x800-800x533.jpg);
    background-size: cover;
    background-repeat: no-repeat;

} */
/* .cards.speciality {
    background-image: url('path/to/your/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .bg-dark {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity value here */
  }
  
  /* .bg-opacity-10 {
    opacity: 0.1; /* Adjust the opacity value here */
  } */ */
  